// import fichiers sass
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./base/responsive";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/menus";
@import "./layouts/footer";
@import "./pages/cards";
@import "./pages/about";
@import "./pages/homeheader";
@import "./pages/location";
// mise en forme et animation chargement page
body{
    margin: 0 auto;
}

.loading_spinner{
    display: flex;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 30px;
}
    
.loader{
    display: flex;
    margin: auto;
    animation: loader 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2 alternate both;
}
.letter1{
    color: $primary-color;
}
.letter2{
    color: $secondary-color;
}
.letter3{
    color: $tertiary-color;
}
.letter4{
    color: $primary-color;
}
.letter5{
    color: $secondary-color;
}
.letter6{
    color: $tertiary-color;
}
.letter7{
    color: $primary-color;
}
.letter8{
     color: $secondary-color;
}

@keyframes loader {
    0%{
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0;
    }
    40%{
        opacity: 0.6;
    }
    100%{
        transform: translateZ(0);
        opacity: 1;
    }
}
@media #{$thin-down}{
.loading_spinner{
     font-size: 20px;
}
.loader{
    animation: loader 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2 alternate both;
    @keyframes loader {
         0% {
            letter-spacing: -0.5em;
            transform: translateZ(-700px);
            opacity: 0;
            }
        40% {
            opacity: 0.6;
            }
        100% {
            transform: translateZ(0);
            opacity: 1;
            }
        }
    }
}
.main_content{
    opacity: 1;
    animation: apparition_page 3s;
}
@keyframes apparition_page{
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


  