// bouton explorer
.btn-about{
    color: white;
    text-decoration: none;
    border-radius: 25px;
    background: $clr-btn-about;
    &:hover{
        opacity: 0.8;
    }
}
// boutons fonctionnement
.btn-fg{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    margin: 25px 0px;
    width: 95%;
    height: 75px;
    &:hover{
        background: lighten($primary-color, 36);

        .fa, .fas{
            color: $primary-color;
        }
        
    }
}


