// mise en forme location
.locations{
    background-color: $background-color;
    box-shadow: inset 0px 8px 7px -10px #000000;
} 
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', cursive;
    gap: 20px;
    &.fa, .fas{
        font-size: 20px;
    }
        &.title{
            font-size: 20px;
        }
} 